<a href="https://colab.research.google.com/github/Sherbie8/CSC221_sreid009/blob/main/Assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#looping through a list
numbers = [8, 343, 4]


for number in numbers:
  print(number)
#prints each number in the list

  print(f"yes, {number} is my favorite number")
#writes a message about each number

#Regarding indentation and colon errors, I didnt think it was necessary to write code for those mistakes

In [ ]:
#looping through another list
pizzas = ["pinnaple", "mushroom", "cheese"]

for pizza in pizzas:
  print(f"{(pizza.title())} pizza is great.")
print("I love pizza!")

In [ ]:
#looping through more lists
animals = ["guinea pig", "hamster", "rabbit"]

for animal in animals:
  print(animal)

  print(f"{animal.title()}s are adorable.")

print("Each of these animals are low mantinence to have and make great pets!")

In [20]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
#appends the squares of numbers 1-10 to a list
squares = []

for value in range(1, 11):
  square = value**2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
squares = [value**2 for value in range(1,11)]
print(squares)
#does the same as previous method in less lines of code

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
#prints numbers in range 1 to 20
numbers = list(range(1,21))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
numbers = list(range(1,1_000_001))

for number in numbers:
  print(number)
#prints numbers from 1 to 1,000,000
sum(numbers)

In [50]:
#prints odd numbers between 1 and 20
numbers = list(range(1, 20, 2))
print(numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [53]:
#prints the multiples of 3 between 3 and 30
multiples = []

for value in range(3, 31, 3):
  multiples.append(value)
print(multiples)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
#prints a list of the squares between 1 and 10
squares = list(range(1,11))

for square in squares:
  print(square**2)

In [61]:
#list comprehension of previous cell
squares = [square**2 for square in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [67]:
#slicing
classes = ["programming", "calculus", "physics", "art"]

print(classes[0:3])

print(classes[-2:])

['programming', 'calculus', 'physics']
['physics', 'art']

In [71]:
#slicing in a for loop
classes = ["programming", "calculus", "physics", "art"]

print("Here are my classes this semester:\n")

for class_ in classes[0:4]:
  print(class_.title())

Here are my classes this semester:

Programming
Calculus
Physics
Art

In [1]:
#copying lists
classes = ["programming", "calculus", "physics", "art"]
friends_classes = classes[:]

print("Here are my classes this semester:\n")
print(classes)

print("My freinds classes are:\n")
print(friends_classes)

Here are my classes this semester:

['programming', 'calculus', 'physics', 'art']
My freinds classes are:

['programming', 'calculus', 'physics', 'art']

In [ ]:
#slicing exercises
classes = ["programming", "calculus", "physics", "art", "psychology"]
print("The first 3 classes in the list are:")
print(f"{classes[0:3]}\n")

print("The 3 middle classes are:")
print(f"{classes[1:4]}\n")

print("The last 3 classes are:")
print(classes[-3:])

In [ ]:
#looping through two lists
pizzas = ["pinnaple", "mushroom", "cheese", "sausage"]
friends_pizzas = ["pinnaple", "mushroom", "cheese", "pepperoni"]
print("My favorite pizzas are:\n")
for pizza in pizzas:
  print(f"{(pizza.title())} pizza")

print("\nMy friends favorite pizzas are:\n")

for pizza in friends_pizzas:
  print(f"{pizza.title()} pizza")

In [21]:
#Tuple exercises
buffet_foods = ("oxtail", "rice & peas", "curry chicken", "mac & cheese", "rasta pasta")

print("Original list:\n")
for food in buffet_foods:
  print(food)

buffet_foods =  ("oxtail", "rice & peas", "curry chicken", "mac & cheese", "red snapper")
print("Modified list:\n")
for food in buffet_foods:
  print(food)


#     <3

Original list:

oxtail
rice & peas
curry chicken
mac & cheese
rasta pasta
Modified list:

oxtail
rice & peas
curry chicken
mac & cheese
red snapper

In [1]:
#Factorial example

numbers = []

def factorial(x):
  if x == 1:
    return 1

  else:
    return (x * factorial(x-1))

num = int(input("what is your number?: "))

result = factorial(num)

numbers.append(result)
print(numbers)

#I have no clue how to make this a list comprehension

what is your number?: 5
[120]