<a href="https://colab.research.google.com/github/Sherbie8/CSC221_sreid009/blob/main/Copy_of_Assignment18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 18
## CSC 221
- PLEASE INSERT YOUR NAME HERE!

### Instructions:
Fill in each code cell below the question. We are following along in Chapter 2 of Python Distilled.

In [ ]:
# 2.1 Literals

# Show how to compute hex 3a27 plus binary 110101111 - 30 decimal using Python literals

# INSERT YOUR CODE HERE

hex_string = "3a27"

hex_integer = int(hex_string,16)

binary_string = bin(hex_integer)

binary_string = binary_string[2:]

print(binary_string)
#Converts hex to binary
#################

first_hex = "3a27"
second_hex = "1af"
third_hex = "1e"

first_hexint = int(first_hex, 16)
second_hexint = int(second_hex, 16)
third_hexint = int(second_hex, 16)

total = hex(first_hexint + second_hexint - third_hexint)

print(total)

#Calculates the the sum between all three hexadecimals.

11101000100111
0x3a27

In [ ]:
# 2.2 Expressions
# I'll make you a small file in the cell below. You can just run this.

In [ ]:
%%file small_file.txt
I am the first line of the file.
I am the second line. I contain secrets so please don't print me!
I am the last line.

Overwriting small_file.txt

In [ ]:
# Now fix the code below code and print all the lines of the file EXCEPT line 2
file1 = open('small_file.txt', 'r')
# FIX THE TWO LINES BELOW
while (line:=file1.readline()):
    print(line)
file1.close()

I am the first line of the file.

I am the second line. I contain secrets so please don't print me!

I am the last line.







# Now fix the code below code and print all the lines of the file EXCEPT line 2

file1 = open('small_file.txt', 'r')

# FIX THE TWO LINES BELOW

while (line:=file1.readline()):

    print(line)

file1.close()

In [ ]:
# 2.3 Standard Operators
# Experiment with pow(x, y, modulo). What does modulo do?
# INSERT YOUR CODE HERE

x = 3
y = 6
print(pow(x,y))      #<----raises 3 to the 6th power
print(x%y)          #<----modulo returns the remainder of dividing the left-hand operand by right-hand operand

# Experiment with round(x, n). What does n do? What about n=2 vs n=-2?
# INSERT YOUR CODE HERE

print(round(x,-2))
print(round(x,2))
#rounds to the nearest multiple of 10-n

729
3
0
3

In [ ]:
# 2.4 In-Place Assignment
# What should a = [1, 2, 3] followed by a += [7, 6, 5] do? Show me!
# INSERT YOUR CODE HERE

a = [1, 2, 3]

a += [7, 6, 5]      #<---- creates a new reference to a without creating a new list

print(a)

# What should a = [1, 2, 3] followed by a *= 4 do? Show me!
# INSERT YOUR CODE HERE

a = [1, 2, 3]

a *= 4        #<----- repeats the values *= n amount of times

print(a)

[1, 2, 3, 7, 6, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 2.5 Object Comparison
# Make an exanmple showing the difference between == and is.
# INSERT YOUR CODE HERE

   #<---- python assigns 4 to the variable 'a'

a = 4
b = 4

a is b          ####<---- python returns false because a and b are not the same named variable

a == b          ####<---- python returns true because a and b represent the same value

#Two variables cannot be the same but they can have the same values attached to them

True

In [ ]:
# 2.7 Boolean Expressions and Truth
# Why does the code below only output 'Ned'?
def ned():
    print('Ned')
    return False
def lecky():
    print("lecky")
    return False;
if ned() and lecky():
    print('wrote this')

# YOUR EXPLANATION HERE

#Due to the way python reads code from top to bottom, the function will read print('Ned') before returning false.
#After returning false, python will not continue executing code unless def ned() returns True.

Ned

In [ ]:
# 2.8 Conditional Expressions
# Convert the code called out into a one-line conditional expression...
# And what does that format do?
import random
random.seed(42)

def above_or_below():
    x = random.randint(1,100)
    # MAKE THE FOLLOWING 4 LINES INTO ONE CONDITIONAL EXPRESSION
    if x < 50:
        y = -1
    else:
        y = +1
    return y
   # y = -1 if x < 50 else y = +1  #Same format as the book but I am getting a syntax error?
   # return y

for i in range(10):
    # WHAT DOES THIS LINE DO?
    print(format(above_or_below(),"+d")) ###<----formats the function above_or_below into decimal or whole numbers in a range of 10

+1
-1
-1
+1
-1
-1
-1
-1
+1
-1

In [ ]:
# 2.9 Iterables
# Show an example of every iterable in Table 2.5

# INSERT YOUR CODE HERE
for i in range(10):     #       <- Iteration
  print(4)

cars = ['toyota', 'audi', 'bmw']    #<- Variable Unpacking
car_1, car_2, car_3 = cars
print(car_2)

print('toyota' in cars)       #<- Python membership

cars.append('dodge')        #<- List expansion

for car in cars:
  print(car)

4
4
4
4
4
4
4
4
4
4
audi
True
toyota
audi
bmw
dodge

In [ ]:
# 2.10 Operations on Sequences
# Show that the exam ple at the end pof section 2.10 are correct
# The code starts with
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a[2:5])
print(a[:3])
print(a[-3:])
print(a[::2])
print(a[::-2])
print(a[0:4:2])
print(a[5:0:-2])
print(a[:5:1])
print(a[:5:-1])
print(a[5::1])
print(a[5::-1])
print(a[5:0:-1])

[2, 3, 4]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]
[9, 7, 5, 3, 1]
[0, 2]
[5, 3, 1]
[0, 1, 2, 3, 4]
[9, 8, 7, 6]
[5, 6, 7, 8, 9]
[5, 4, 3, 2, 1, 0]
[5, 4, 3, 2, 1]

In [ ]:
# 2.11 Operations on Mutable Sequences
# Create a list with the first 2 million positive integers in it ([1, 2, 3, ... , 2,000,000])
# Replace the centermost 1,000,000 integers with the string 'MiddleStuff'
# Figure out some way to print this and look at len(this) to demonstrate that it works

# INSERT YOUR CODE HERE

numbers = []

for i in range(1, 1_000_001):
  if i > 449999 and  i < 549999:
    i = 'Middle Stuff'
  numbers.append(i)
print(len(numbers))

1000000

In [ ]:
# 2.12 Operations on Sets
# rand1 and rand2 are two independent lists of 1000 numbers between 1 and 1000 inclusive
# What are set1 - set4?
# How many numbers between 1 and 1000 appear in neither list?
import random
random.seed(42)

rand1 = [random.randint(1,1000) for i in range(1000)]
rand2 = [random.randint(1,1000) for i in range(1000)]
set1 = set(rand1)     #<-----The amount of integers that dont appear between a random integer in a range of 10000
set2 = set(rand2)     #<-----The amount from a different set of integers that dont appear(same as set 1)
set3 = set1 | set2    #<-----The union of set 1 and 2
set4 = set1 & set2    #<-----The point where set1 and set 2 intersect
print(len(set1), len(set2), len(set3), len(set4))

#363 integers dont appear in rand1 and 351 integers dont appear in rand2

637 649 884 402

In [13]:
# 2.15 Generator Expression
# Show that the code that begins with
# Read a file
# f = open....
# in Section 2.15 actually print all the lines in a file that begin with a '#'

# INSERT YOUR CODE HERE

f = open('data.txt')

lines = (t.strip() for t in f)

comments = (t for t in lines if t[0] == '#')
for c in comments:
  print(c)

FileNotFoundError: ignored